svg.w-5 {
    width: 20px !important;
    height: 20px !important;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



.container-fluid {
    padding: 20px;
}



h2 {
    color: #17B1DC;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para los filtros */
form.mb-4 {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    color: #8F5499;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: #17B1DC;
    box-shadow: 0 0 5px rgba(23, 177, 220, 0.5);
}


.form-search{
    border-color: #17B1DC;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
}
.btn-primary {
    background-color: #17B1DC;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #1496c7;
}

/* En tu archivo CSS */
.btn-action {
    margin-right: 8px; /* Espacio entre botones */
}

.btn-action:last-child {
    margin-right: 0; /* Elimina el margen del último botón */
}


/* Estilos para la tabla */
.table-responsive {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #8F5499;
    color: #fff;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f9f9f9;
}

.table tbody tr td {
    color: #333;
}

/* Estilos para la paginación */
.d-flex.justify-content-center {
    margin-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    color: #17B1DC;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination li a:hover {
    background-color: #17B1DC;
    color: #fff;
}

.pagination .active a {
    background-color: #17B1DC;
    color: #fff;
    border-color: #17B1DC;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container-fluid {
        padding: 10px;
    }

    .row {
        flex-direction: column;
    }

    .col-md-3,
    .col-sm-6,
    .col-12 {
        width: 100%;
    }

    .btn-primary {
        width: 100%;
    }

    .table th,
    .table td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5rem;
    }

    .form-control {
        padding: 6px;
    }

    .btn-primary {
        padding: 8px 16px;
    }

    .table th,
    .table td {
        font-size: 0.9rem;
    }

    
}